.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;

  position: fixed;
  top: 0;
  height: $nav-height;
  width: 100%;
  background-color: $black;
  border-bottom: 2px solid $black;

  z-index: 1000;
  .logo {
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    p {
      color: white;
    }
    img {
      height: 100%;
      aspect-ratio: 1;
      margin-left: -10px;
    }
    .letters {
      width: 50px;
      aspect-ratio: 1;
      margin-bottom: 5px;
    }
  }

  .list {
    display: flex;
    gap: 25px;
    height: 100%;
    > a,
    p,
    svg {
      display: flex;
      align-items: center;
      color: white;
      font-weight: 500;
      font-size: 17px;
    }
    .contact-us {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 10px;
      box-sizing: border-box;
      background-color: $lightYellow;
      color: $black;
      > svg {
        color: $black !important;
      }
    }
  }
  .dropdown-list {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;

    .title {
      display: flex;
      align-items: center;
    }
    > ul {
      position: absolute;
      width: 220%;
      top: $nav-height - 2px;
      background-color: white;
      list-style: none;
      list-style-type: none;

      padding: 0;
      margin: 0;
      box-sizing: content-box;
      border: 2px $black solid;
      border-radius: 0 0 24px 24px;
      > li {
        display: flex;
        position: relative;
        margin: 25px 5px;
        text-align: center;
        a {
          flex: 1;
          width: 100px;
          color: black;
          font-weight: 600;
          &.active {
            background-color: darkgray;
            color: white !important;
            border-radius: 24px;
          }
        }
      }
    }
  }

  .active,
  .active p,
  .active svg {
    pointer-events: none;
    color: $lightYellow !important;
  }
  .dropdown-list .active :not(ul) {
    pointer-events: all;
  }
}
