.contact-us {
  position: relative;
  display: flex;
  flex: 1;
  width: 100vw;
  > form.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: min(50%, 840px);
    min-width: 600px;
    background-color: $lightYellow;
    border-right: 2px solid $black;
    padding: 30px 40px;
    > .title {
      font-weight: 600;
      width: 300px;
    }
    > .row {
      display: flex;
      gap: 40px;
    }
  }
  .decoration-wrapper {
    position: relative;

    .decoration {
      position: absolute;
      width: 200px;
      bottom: -10px;
      left: -20px;
      z-index: 100;
    }
  }
}

@media (max-width: 600px) {
  .contact-us {
    > form.form {
      flex-direction: column;
      width: 100vw;
      box-sizing: border-box;
      min-width: unset;
      > .row {
        flex-direction: column;
        gap: 30px;
      }
    }
    .decoration-wrapper {
      display: none;
    }
  }
}
