@import "@/assets/styles/config.scss";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 23px;
  box-sizing: border-box;

  position: absolute;
  top: 0;
  height: $nav-height;
  width: 100vw;
  background-color: $black;

  z-index: 1000;
  .logo {
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    p {
      color: white;
    }
    img {
      height: 100%;
      aspect-ratio: 1;
    }
    .letters {
      width: 50px;
      aspect-ratio: 1;
    }
  }

  .list {
    display: flex;
    gap: 10px;
    height: 100%;
    > div {
      display: flex;
      align-items: center;

      color: white;

      list-style: none;
      list-style-type: none;
      > a {
        font-weight: bold;
        font-size: 17px;
        color: white;
      }
    }
  }
  .active,
  .active p {
    pointer-events: none;
    color: $lightYellow !important;
  }
}
